<div class="rs__plp__product__list-product">
  <div class="rs__plp__product__list__main__media__container">
    {{ 'product-1' | placeholder_svg_tag: 'rs__plp__product__list__main__media' }}
  </div>
  <div class="rs__plp__product__list__content">
    <div>
      <span>Vendor</span>
      <span>Placeholder Title</span>
      <span>{{ '9999' | money }}</span>
    </div>
  </div>
</div>
