{% if section.settings.title != blank %}
  <h1>{{ section.settings.title }}</h1>
{% endif %}

<div>
  {% form 'contact' %}
    {% if form.errors %}
      <div class="article__comment-error">
        <p>Oh no! Your messages was not sent</p>
        <ul>
          {% for error in form.errors %}
            <li>
              <span>{{ form.errors.messages[error] }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% elsif form.posted_successfully? %}
      <p class="article__comment-success">Message is sent successfully</p>
    {% endif %}

    <label for="contact_form">Name</label>
    <input type="text" name="contact[name]" id="contact_form">
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">

    <label for="contact_message">Message</label>
    <textarea name="contact[body]" id="contact_message"></textarea>

    <input type="submit" value="Submit" class="article__submit-btn">
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact Form",
  "presets": [
    {
      "name": "Contact Form"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ]
}
{% endschema %}
