<div class="rs__plp">
  <h1 class="rs__plp__title">{{ collection.title }}</h1>
  <div>
    {% if collection.products_count == 0 %}
      <div>
        <p>There are no products</p>
      </div>
    {% else %}
      {% paginate collection.products by section.settings.number_of_product_per_page %}
        <div class="rs__plp__product__list">
          {% for product in collection.products %}
            {% render 'product-card', product_product: product %}
          {% endfor %}
        </div>
        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_product_per_page",
      "default": 3,
      "label": "Number of product per page"
    }
  ]
}
{% endschema %}
